<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--极光推送客户端-->
    <bean id="jedjpushClient" class="cn.jpush.api.JPushClient">
        <constructor-arg name="masterSecret" value="82f57646236b6d99d9e52280"></constructor-arg>
        <constructor-arg name="appKey" value="58bb0db196bb64bdd5ccd70c"></constructor-arg>
    </bean>

    <bean id="jedjpushClient_Zd" class="cn.jpush.api.JPushClient">
        <constructor-arg name="masterSecret" value="78fee324f156f47b60934842"></constructor-arg>
        <constructor-arg name="appKey" value="60c1a8db41cfd175450e7fa8"></constructor-arg>
    </bean>

</beans>