<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 注册中心服务地址 -->
    <dubbo:registry protocol="zookeeper" address="47.93.230.61:2181"/>
    <dubbo:protocol  name="dubbo" port="-1"/>

    <bean id="userOperateResource" class="resourceImpl.UserOperateResourceImpl"/>
    <dubbo:service interface="com.xsl.user.UserOperateResource" ref="userOperateResource" timeout="600000"/>

    <bean id="supplementUserInfoResource" class="resourceImpl.SupplementUserInfoResourceImpl"/>
    <dubbo:service interface="com.xsl.user.SupplementUserInfoResource" ref="supplementUserInfoResource" timeout="600000"/>

    <bean id="jpushResource" class="resourceImpl.JpushResourceImpl"/>
    <dubbo:service interface="com.xsl.user.JpushResource" ref="jpushResource" timeout="600000"/>

    <bean id="userInfoResouce" class="resourceImpl.UserInfoResouceImpl"/>
    <dubbo:service interface="com.xsl.user.UserInfoResouce" ref="userInfoResouce" timeout="600000"/>

    <bean id="verifyCodeResource" class="resourceImpl.VerifyCodeResourceImpl"/>
    <dubbo:service interface="com.xsl.user.VerifyCodeResource" ref="verifyCodeResource" timeout="600000"/>

    <bean id="LevelResource" class="resourceImpl.LevelResourceImpl"/>
    <dubbo:service interface="com.xsl.user.LevelResource" ref="LevelResource" timeout="600000"/>

    <bean id="weChatUserResource" class="resourceImpl.WeChatUserResourceImpl"/>
    <dubbo:service interface="com.xsl.user.WeChatUserResource" ref="weChatUserResource" timeout="600000"/>

    <bean id="hunterListResource" class="resourceImpl.HunterListResourceImpl"/>
    <dubbo:service interface="com.xsl.user.HunterListResource" ref="hunterListResource" timeout="600000"/>

    <bean id="fileOperateResource" class="resourceImpl.FileOperateResourceImpl"/>
    <dubbo:service interface="com.xsl.user.FileOperateResource" ref="fileOperateResource" timeout="600000"/>

</beans>